@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.header {
    position: relative;
    overflow-x: hidden;
    z-index: 9999;
    @include box-model(100%, fit-content, transparent, 0, 34px 92px);
}

.navbar {
    width: 100%;
    position: relative;
    @include flexbox(center, center);

    &-menu {
        width: 640px;
        @include flexbox(space-between, center);
    }

    &-link {
        text-decoration: none;
        @include fonts(25px, 500, 30.25px, $grayBorder);

        &-active {
            color: $textMain;
        }
    }
}

.logo-image {
    position: absolute;
    left: 0px;
}

.material-symbols-outlined {
    color: $textMain;
    font-size: 32px;
    cursor: pointer;
}

.menu-open {
    background: $mainBlack;
}

@media (max-width: 1100px) {
    .header {
        padding: 34px 30px;
    }

    .navbar {
        justify-content: flex-end;

        &-menu {
            width: 500px;
        }
    }

    .logo-image {
        left: 0;
    }
}

@media (max-width: 700px) {
    .navbar {
        @include flexbox(space-between, flex-start);
    }

    .logo-image {
        position: static;
        left: 0;
    }
}