<div class="modal">
    <div class="modal-body">
        <img ngSrc="../../../assets/images/success-icon.svg" class="success-icon" width="213" height="213" priority>
        <img ngSrc="../../../assets/images/close-filled.svg" alt="close" class="close-img" mat-raised-button matDialogClose width="50.8" height="50.8">
        <div class="modal-body-content">
            <h1>Awesome!</h1>
            <p>Email was sent successfully. Within 24 hours our team will contact you to discuss the project.</p>
        </div>
        <div class="green-box"></div>
    </div>
</div>