<section>
    <div class="banner">
        <img src="../../../../assets/images/Vector-3.svg" class="vector">
        <div class="banner-content">
            <p><span>Empowering Communications in the World of</span><br>Healthcare, Science & Technology</p>
            <ul>
                <li>EXPERTISE</li>
                <li>PRESISION</li>
                <li>EXCELLENCE</li>
            </ul>
        </div>
        <img ngSrc="../../../../assets/images/Ellipse-1-group.svg" class="ellipse-bottom-1" width="85" height="85">
        <img ngSrc="../../../../assets/images/Ellipse-2-group.svg" class="ellipse-bottom-2" width="19" height="19">
        <img ngSrc="../../../../assets/images/banner-ellipse.svg" class="ellipse-bottom-3" width="309" height="309">
        <img ngSrc="../../../../assets/images/Ellipse-1-group.svg" class="ellipse-top-1" width="85" height="85">
        <img ngSrc="../../../../assets/images/Ellipse-2-group.svg" class="ellipse-top-2" width="19" height="19">
        <img ngSrc="../../../../assets/images/banner-ellipse.svg" class="ellipse-top-3" width="309" height="309">
        <div class="ellipse-color ellipse-top"></div>
        <div class="ellipse-color ellipse-bottom"></div>
    </div>

    <div class="banner-v2">
        <div class="banner-v2-content">
            <p><span>Empowering Communications in the World of</span><br>Healthcare, Science & Technology</p>
            <ul>
                <li>EXPERTISE</li>
                <li>PRESISION</li>
                <li>EXCELLENCE</li>
            </ul>
        </div>
        <img ngSrc="../../../../assets/images/banner-img-v2.png" class="banner-v2-img" width="531" height="515">
        <img ngSrc="../../../../assets/images/banner-ellipse.svg" class="ellipse-bottom-1" width="309" height="309">
        <div class="ellipse-color ellipse-bottom"></div>
        <div class="ellipse-color ellipse-top"></div>
    </div>

    <div class="banner-v3">
        <div class="banner-v3-content">
            <p><span>Empowering Communications in the World of</span><br>Healthcare, Science & Technology</p>
            <ul>
                <li>EXPERTISE</li>
                <li>PRESISION</li>
                <li>EXCELLENCE</li>
            </ul>
        </div>
        <img ngSrc="../../../assets/images/Ellipse-1-group.svg" class="ellipse-top-1" width="85" height="85">
        <img ngSrc="../../../assets/images/Ellipse-2-group.svg" class="ellipse-top-2" width="19" height="19">
        <img ngSrc="../../../assets/images/banner-ellipse.svg" class="ellipse-top-3" width="309" height="309">
        <div class="ellipse-color ellipse-top"></div>
        <img ngSrc="../../../assets/images/banner-img-v3.png" class="banner-v3-img" width="637" height="637">
    </div>
</section>