<div class="input-group">
    <input matInput
        [matDatepicker]="picker"
        class="input-group-control"
        (focus)="picker.open()"
        [value]="value"
        [id]="id"
        #input
        (dateChange)="setValue(input.value)"
        [placeholder]="placeholder">
    <mat-datepicker-toggle matIconPrefix [for]="picker">
        <mat-icon matDatepickerToggleIcon>
            <img
                src="../../../../assets/images/fi-rr-calendar.svg"
                width="24px"
                height="24px">
        </mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</div>