<section>
    <h3>Contact us</h3>
    <div class="page-content">
        <div class="page-content-p1">
            <div class="page-content-p1-image">
                <div class="ellipse-9"></div>
                <img ngSrc="../../../assets/images/contact-us-img.png" alt="Contact-us" class="contact-us-img" width="494" height="677" priority>
                <img ngSrc="../../../assets//images/Ellipse-6.svg" class="ellipse-6" width="211" height="211">
                <img ngSrc="../../../assets/images/Ellipse-7.svg" class="ellipse-7" width="188" height="188">
                <img ngSrc="../../../assets/images/Ellipse-8.svg" class="ellipse-8" width="39" height="39">
            </div>
        </div>
        <div class="page-content-p2">
            <app-contact-us-form (submitForm)="openModal($event)"></app-contact-us-form>
        </div>
    </div>
</section>