<section>
    <div class="page-content">
        <div class="page-content-p1">
            <h3>About Us</h3>
            <p class="text-p1"><span>Firecrab Tech Writing Solutions is a technical and medical writing agency</span> with a strong emphasis on human engagement. While we might use AI (LLM) as a research tool, all our content is written, proofread, and edited by human specialists, not AI engines (bots). We use the best, most situation and security appropriate tools in delivering top quality documents to our clients. Quality and security brook no compromise!</p>
            <p><span>We believe in the power of quality documentation, from developer docs to medical and technical blog posts.</span> We work with you on all your content needs, from setting up a monthly content plan to designing, developing, and writing your product's customer-facing technical docs and driving engagement with your product/technology.</p>
        </div>
        <div class="page-content-p2">
            <div class="ellipse-1"></div>
            <img ngSrc="../../../assets/images/about-us-img.png" class="about-us-img" width="459" height="511" priority>
            <div class="img-wrap"></div>
            <img ngSrc="../../../assets/images/Star.svg" width="70" height="76" class="star-img">
            <img ngSrc="../../../assets/images/Ellipse-5.svg" width="227" height="227" class="ellipse-2">
        </div>
    </div>
    <button class="btn btn-main" routerLink="/contact-us">Book a Free Strategy Session</button>
</section>