<section>
    <div class="page-content">
        <div class="page-content-p1">
            <h3>About Us</h3>
            <p class="text-p1"><span>Welcome to to Firecrab Tech Writing Solutions.</span></p> 

            <p></p>
            
            <p class="text-p1"><span></span>We’re a technical writing agency obsessed with human engagement. We call it tech writing with a human touch. 
            
            <p>Our team embraces the power of large language models (LLMs) as tools, but all of our content is written, proofread, and edited by human specialists. We harness the powers of tools to deliver excellence in documentation to clients around the world without compromise. Quality and security brook no compromise!</p>

            <p class="text-p1"><span>We believe in the power of quality documentation, from developer docs to white papers, eBooks, and technical articles/blog posts. We work with you on all your content needs, from setting up a monthly content plan to designing, developing, and writing your product's customer-facing technical docs and driving engagement with your product/technology.</span></p>
        </div>
        <div class="page-content-p2">
            <div class="ellipse-1"></div>
            <img ngSrc="../../../assets/images/about-us-img.png" class="about-us-img" width="459" height="511" priority>
            <div class="img-wrap"></div>
            <img ngSrc="../../../assets/images/Star.svg" width="70" height="76" class="star-img">
            <img ngSrc="../../../assets/images/Ellipse-5.svg" width="227" height="227" class="ellipse-2">
        </div>
    </div>
    <button class="btn btn-main" routerLink="/contact-us">Book a Free Strategy Session</button>
</section>